<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	</head>
	<body>
		<h1>Nouvel E-mail</h1>
		<p>Envoyé par:
			{{contact.nom}}</p>
		<p>Email:
			{{contact.email}}</p>
		<p>Objet de l'email:
			{{contact.objet}}</p>
		<p>Contenu:
			{{contact.message}}</p>

	</body>
</html>
